# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# PyInstaller
build/
dist/
*.spec

# Database
lawyers.db
analysis.json

# Local Assets (Keep original Excel, maybe ignore temporary converted ones)
# دليل المحامين ارقام كامل .xlsx

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
